<form class="ml-4 my-4" method="post" action="{{ path('stock_delete', {'sku': stock.sku}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.sku) }}">
    <button class="text-white rounded-lg p-2 bg-red-500 hover:bg-red-600 border border-red-500 transition">Delete</button>
</form>
