{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="ml-4 my-4 bg-yellow-500 p-2 rounded-lg hover:bg-yellow-600 hover:text-white border border-yellow-500 transition">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
